<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-list>
      <mat-list-item>Option 1</mat-list-item>
      <mat-list-item>Option 2</mat-list-item>
      <mat-list-item>Option 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon (click)="sidenav.toggle()">dehaze</mat-icon>
      <p>
        <span>My Application</span>
      </p>
    </mat-toolbar>

    <mat-grid-list cols="2" rowHeight="150px">
      <mat-grid-tile *ngFor="let photo of (photos$ | async)">
        <img [src]="photo.thumbnailUrl" [alt]="photo.title">
      </mat-grid-tile>
    </mat-grid-list>

  </mat-sidenav-content>
</mat-sidenav-container>
